<div class="main-container">
  <div class="container">
    <div class="a" >
      <div class="b">
        <div class="d" [ngStyle]="{'background-image': ' url('+user.url+')', 'background-position': 'center'}"></div>
        <div class="e">
          <span>{{user.first_name}} {{user.second_name}}</span>
          <span>email: {{user.email}}</span>
        </div>
      </div>
      <div class="c">
        <div class="h">
          <span>My cars</span>
          <button routerLink="addcarwind" (click)="addCar()">+Add</button>
        </div>
        <div class="i" *ngFor="let car of cars">
          <div class="f">
            <div class="g" (click)="toCar(car.id)" [ngStyle]="{'background-image': ' url('+car.img_url+')'}"></div>
            <div class="j" (click)="toCar(car.id)">
              <span>Car name: {{car.title}}</span>
              <span>Fuel cons: {{car.fuel_cons}}</span>
              <span>Price: {{car.price}}</span>
            </div>
            <button class="b-k">
              <fa-icon class="icon" [icon]="['fas', 'pen']"></fa-icon>
            </button>
            <button class="b-l">
              <fa-icon class="icon" [icon]="['fas', 'trash']"></fa-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
