.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}
.container {
  display: flex;
  width: 90%;
  margin: auto;
  height: 50vh;
  position: relative;
  flex-direction: column;

}
.a,.b,.c, .h, .f, .i, .j, .b-k, .b-l {
  display: flex;
  position: relative;
}
.a {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  top: 3%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px var(--shadow);

}
.b {
  height: 100%;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid var(--shadow);


}
.c {
  height: 100%;
  width: 70%;
  flex-direction: column;
  margin-right: 1%;
}
.d {
  height: 100%;
  width: 100%;
  background: transparent url('../../assets/no_image.jpg') no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid var(--shadow);


}

.h {
  flex-direction: row;
  justify-content: space-around;
  height: 10%;
  align-items: center;

}
.i {
  flex-direction: column;
  min-height: 7vh;

}
.i:hover {
  background-color: white;
}
.i+.i{
  margin-top: .5%;
}
.f {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--light);
  min-width: 5vh;
  box-shadow: 0px 3px 6px var(--shadow);

}
.g {
  width: 10%;
  background: transparent url('../../assets/no_image.jpg') no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  background-position: center;
  height: 5vh;
  margin-left: 1%;
}
.g2 {
  width: 20%;
  background: transparent url('../../assets/mazda.jpg') no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  height: 90%;
  margin-left: 1%;


}
.j {
  width: 65%;
  flex-direction: column;
  color: #383838;
}
.b-k {

}
.b-l {
  right: 3%;

}
.icon {
  font: var(--medium-text) Font Awesome Regular;
  color: var(--shadow);
  opacity: 1;
  position: relative;
}
.email_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user_form {
  height: 30%;
  width: 90%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_form >div{
  margin: 2%;
}
.user_form_labels {
  display: flex;
  flex-direction: column;
  color: var(--shadow);

}
.user_form_values {
  display: flex;
  flex-direction: column;
}
.user_form_values > *{
  width: 10vmax;
}
.user_form_btns {
  display: flex;
  flex-direction: column;
}
.user_form_btns > button{
  height: fit-content;
  width: 5vmax;
}
.no_cars {
}
.danger {
  color: red;
  font: var(--medium-text) Raleway-Regular;
  position: absolute;
  top: 103%;
}
.divider {
  margin-top: 1%;
  margin-bottom: 1%;
}
.my-cars-orders-container {
  display: flex;
  width: 48%;
  height: 40vh;
  box-shadow: 0px 3px 6px var(--shadow);
  margin-top: 7%;
  margin-bottom: 1%;
}
.my-orders-container {
  display: flex;
  width: 48%;
  height: 40vh;
  box-shadow: 0px 3px 6px var(--shadow);
  margin-bottom: 1%;
  margin-top: 7%;

}
.orders-wrap {
  width: 90%;
  margin: auto;
  position: relative;
  overflow-y: hidden;
  top: 5%;
  justify-content: space-around;
}
.orders-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 65.5vh;
  margin: 3% 5% 5% 35%;
}
.return {
  background: var(--red);
  border: 0;
  color: white;
  box-shadow: 0px 3px 6px var(--shadow);
  width: 5vw;
  height: 3vh;
  font: var(--medium-text) Raleway-Regular;
}
.cancel {
  background: var(--red);
  border: 0;
  color: white;
  box-shadow: 0px 3px 6px var(--shadow);
  width: 5vw;
  height: 3vh;
  font: var(--medium-text) Raleway-Regular;
}
.status {
  position: absolute;
  top: -8%;
  left: 70%;
  background: var(--light);
  border: 0;
  color: white;
  box-shadow: 0px 3px 6px var(--shadow);
  padding-left: 1%;
  padding-right: 1%;
}

.order {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 12vh;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;

}
.order_img {
  background-image: url('../../assets/no_user_image.jpg');
  display: flex;
  height: 8vh;
  width: 8vw;
  background-size: cover;
  margin-right: 2%;
}
.order_info {
  display: flex;
}
.order_time {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
  padding-left: 2%;
}
.order-main-wrap {
  overflow-y: auto;
  height: 50vh;
  font-size: var(--medium-text);
  padding-top: 1%;
  position: relative;

}
.return-btn {
  position: relative;
  flex-direction: column;

}
.notification {
  position: sticky;
  width: 90%;
  height: 12vh;
  border: solid var(--red);
  box-shadow: 0px 3px 6px var(--shadow);

  color: black;
  opacity: 0.8;
  font: var(--medium-text) Raleway-Regular;
  margin: 1% auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.notif-btns {
  display: flex;
  width: 20%;
  justify-content: space-around;
  height: 25%;
}
.my-cars {
  overflow-y: scroll;
  height: 85%;
}
.no_orders {
  color: var(--shadow);
}
.d:hover .hover-text{
  position: absolute;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  visibility: visible;
  color: white;


}
.d:hover {
  background-color: var(--light);
  opacity: 0.5;
}
.hover-text {
  visibility: hidden;
}
mat-tab-group {
  width: 100%;
  padding-right: 1.5%;
  padding-left: 1.5%;
  box-shadow: 0px 3px 6px var(--shadow);
  padding-top: 2%;

}

.errorText{
  color: #a94442;
  background-color: #f2dede;
  padding: 2%;
  border: 1px solid var(--red);
  border-radius: 4px;
  margin: 20px 20px 2%;
  font: var(--medium-text) Raleway-Regular;
  font-weight: bold;
}
@media only screen and (max-width: 800px){
  .orders-container{
    width: 90%;
    margin: auto;
  }
  .a{
    flex-direction: column;
    box-shadow: none;
  }
  .b{
    flex-direction: row;
    width: 30%;
    height: 20vmax;
    border: none;
  }
  .c{
    width: 100%;
    height: 20vmax;
  }
  .user_form{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
  .i{
    width: 98%;
    margin: auto;
  }
  .d{
    display: none;
  }
  .g{
    width: 40%;
    margin-right: 1%;
  }
  input{
    width: 15vmax;
    height: 5vmax;
  }
  button{
    width: 10vmax;
    height: 5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .danger{
    top: 115%;
  }
  .edit_user{
    left: 0;
  }
  .ng-star-inserted{
    width: 90vmin;
  }
  button.submitEdition{
    width: 10vmax;
    height: 5vmax;
    left: 77%;
  }
  .user_form_btns{
    height: 100%;
  }
  .no_orders{
    font-size: var(--big-text);
  }
}
