<div class="main-container">
  <div class="container">
    <div class="a" >
      <div class="b">
        <div class="d"></div>
        <div class="e">
          <span>{{user.first_name}} {{user.second_name}}</span>
          <span>city: Holon, Israel</span>
          <span>cars: 2</span>
        </div>
      </div>
      <div class="c">
        <div class="h">
          <span>My cars</span>
          <button>+Add</button>
        </div>
        <div class="i">
          <div class="f">
            <div class="g"></div>
            <div class="j" (click)="toCar()">
              <span>GAZ AB7895YH</span>
              <span>2011 115 000 km </span>
              <span>price: 90nys/day</span>
            </div>
            <button class="b-k">redact</button>
            <button class="b-l">x</button>
          </div>
          <div class="f">
            <div class="g2"></div>
            <div class="j" (click)="toCar()">
              <span>ZAZ AB2345YH</span>
              <span>2010 100 000 km </span>
              <span>price: 100nys/day</span>
            </div>
            <button class="b-k">redact</button>
            <button class="b-l">x</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
