@font-face {
  font-family: Bebas Neue;
  src: url('../../assets/fonts/Bebas-Neue-Bold.ttf') format("opentype");
}
@font-face {
  font-family: Raleway-Regular;
  src: url('../../assets/fonts/Raleway-Regular.ttf') format("opentype");
}
.main {
  width: 80%;
  margin: auto;
  border-left: 2px solid #0000005f;
  border-right: 2px solid #0000005f;
}
.container {
  display: flex;
  width: 90%;
  height: 60vh;
  margin: auto;
  position: relative;
  top: 5%;
  flex-direction: column;


}
.photo {
  height: 100%;
  width: 65%;
  background: transparent url('../../assets/zaz.jpg') no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  position: relative;
  display: flex;


}
.form {
  height: 100%;
  width: 35%;
  position: relative;
  display: flex;
  border: solid greenyellow;

}
.card-body {
  width: 11%;
  height: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000052;
  opacity: 1;
  top: -10px;
  display: flex;
  align-items: center;
}
.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;

}
.wcard {
  position: absolute;
  width: 100%;
  height: 15%;
  top: 82%;
  left: 52%;

}
.dolar{
  left: 5%;
  text-align: center;
  font: Bold 31px/102px Raleway;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  position: relative;
}
.price{
  left: 10%;
  text-align: center;
  font: Bold 70px/106px Bebas Neue;
  letter-spacing: 0px;
  color: black;
  text-transform: capitalize;
  opacity: 1;
  position: relative;
}
.perday{
  height: 3vh;
  font: 20px/25px Bebas Neue;
  letter-spacing: 0px;
  color: #06263998;
  text-transform: capitalize;
  opacity: 1;
  transform: rotate(-90deg);
  display: block;
  position: relative;
  left: 6%;
  width: 4vw;
  text-align: center;

}
.car-title{
  width: 50%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.title {
  font: Bold 54px/66px Bebas Neue;
  color: black;

}
.year {
  font: Bold 20px/20px Bebas Neue;
  color: #06263998;
  padding-left: 1%;
}
.parallelogram {
  width: 36%;
  height: 4vh;
  background: #EA2340 0% 0% no-repeat padding-box;
  opacity: 1;
  clip-path: polygon(0% 0%, 90% 0%, 80% 100%, 0% 100%);
}
.paral-wrap {
  margin-bottom: 5vh;

}
.data-wrap {
  display: flex;
  flex-direction: row;
  height: 55vh;
  position: relative;
  top: 10%;
  width: 90%;
  margin: auto;
}
.car-data {
  display: flex;
  position: relative;
  height: 100%;
  width: 60%;

}
.map {
  display: flex;
  position: relative;
  border: solid green;
  height: 100%;
  width: 40%;

}
.col1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
}
.col2 {
  display: flex;
  height: 100%;
  width: 60%;
  flex-direction: column;

}
.col3 {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: row;

}
.col4 {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  text-align: left;
}
.col5 {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
}
.col6 {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
}
.col7, .col8, .col9, .col10{
  display: flex;
  height: 100%;
  width: 25%;
  flex-direction: column;
  font:  16px/24px Raleway-Regular;

}
.col11 {
  display: flex;
  height: 100%;
  width: 33%;
  justify-content: space-between;
}
.col12 {
  display: flex;
  height: 100%;
  width: 66%;
  justify-content: space-between;

}
.col13 {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: space-between;

}
.col14 {
  display: flex;
  height: 100%;
  width: 70%;
  justify-content: space-between;

}
.col15 {
  display: flex;
  height: 100%;
  width: 30%;
}
.col16 {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: column;
}
