.main {
  width: 100%;
  margin: auto;
}
.container {
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
  position: relative;
  padding-top: 1%;
  flex-direction: column;


}
.photo {
  height: 60vmin;
  width: 70vmax;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  overflow: hidden;


}
.form {
  height: 100%;
  width: 34%;
  position: relative;
  display: flex;

}

.card-body {
  padding: 1%;
  width: fit-content;
  min-height: 9vmin;
  height: fit-content;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px var(--shadow);
  opacity: 1;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: space-between;

}
.wcard {
  position: absolute;
  height: 15%;
  top: 82%;
  left: 52%;

}
.dolar{
  width: fit-content;
  left: 5%;
  text-align: center;
  font: var(--big-text) Raleway-Bold;
  display: flex;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  position: relative;
}
.price{
  left: 10%;
  text-align: center;
  font: var(--large-text) Bebas Neue;
  letter-spacing: 0px;
  color: black;
  text-transform: capitalize;
  opacity: 1;
  position: relative;
  display: flex;
  width: fit-content;
  min-width: 7vmin;
}
.perday{
  flex-wrap: nowrap;
  margin: auto;
  font: var(--small-text) Bebas Neue;
  letter-spacing: 0px;
  color: var(--dark);
  text-transform: capitalize;
  opacity: 1;
  transform: rotate(-90deg);
  display: flex;
  position: relative;
  text-align: center;
  padding-top: 10%;
  flex-shrink: 0;

}
.car-title{
  width: 50%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.title {
  font: var(--large-text) Bebas Neue;
  color: black;

}
.year {
  font: var(--medium-text)x Bebas Neue;
  color: var(--medium-gray);
  padding-left: 1%;
}
.parallelogram {
  width: 36%;
  height: 4vh;
  background: var(--red) 0% 0% no-repeat padding-box;
  opacity: 1;
  clip-path: polygon(0% 0%, 90% 0%, 80% 100%, 0% 100%);
  display: flex;
  align-items: center;
}
.paral-wrap {
  margin-bottom: 5vh;

}
.data-wrap {
  display: flex;
  flex-direction: row;
  height: 55vh;
  min-height: 800px;
  position: relative;
  top: 10%;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
.car-data {
  display: flex;
  position: relative;
  height: 100%;
  width: 55%;
  min-width: 800px;
  min-height: 500px;
  justify-content: space-between;
  font: var(--small-text) Raleway-Regular;
}
.col4{
  overflow: hidden;
}
agm-map {
  height: 54vh;
  width: 30vw;
  box-shadow: 0px 3px 6px var(--shadow);

}
.col1, .col2{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  max-width: 48%;
  justify-content: space-around;

}

.col3 {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

}
.col4 {
  display: flex;
  flex-direction: row;
  height: 40%;
  max-width: 90%;
  text-align: left;
  justify-content: space-between;

}
.col5 {
  display: flex;
  flex-direction: row;
  height: 40%;
  justify-content: space-around;
}
.col6 {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
}
.col7, .col8, .col9, .col10{
  display: flex;
  height: 100%;
  width: auto;
  flex-direction: column;
}
.col11 {
  display: flex;
  height: 100%;
  width: 33%;
  justify-content: space-between;
}
.col12 {
  display: flex;
  height: 100%;
  width: auto;
  max-width: 80%;
  justify-content: space-between;

}
.col13 {
  display: flex;
  height: 100%;
  width:auto;
  justify-content: space-between;

}
.col14 {
  display: flex;
  height: 100%;
  width: auto;
  max-width: 68%;
  justify-content: space-between;

}
.col15 {
  display: flex;
  height: 100%;
  width: 30%;
}
.col16 {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: column;
  padding-left: 5%;
}
.stars {
  position: relative;
  right: -57%;
  display: flex;
  flex-direction: row;
  justify-content: center
}
.star .icon{
  color: white;
  box-shadow: 0px 3px 6px var(--shadow);

}
.btns {
  height: 5%;
}
.location-list {
  list-style: none;
  margin-left: 5%;
  justify-content: space-between;
}
.location-item {
  display: flex;
  margin-right: 2%;
}
.red {
  border: solid orange;
}
.location-item-title {
  color: var(--dark);
  margin-right: 5%;
}
.comments-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 5%;
  padding-bottom: 3%;

}
.comments-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f7f7f7;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;

}

.comment{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 12vh;
  opacity: 1;
  margin: 2%;
  align-items: center;

}
.user_photo{
  width: 12vh;
  height: 12vh;
  background: transparent url('../../assets/no_image.jpg') no-repeat padding-box;
  opacity: 1;
  clip-path: circle(40% at 50% 50%);
background-size: cover;
}
.comment span{
  width: 100%;
  height: 50%;
  text-align: left;
  font: var(--small-text) Raleway-Regular;
  letter-spacing: 0px;
  color: var(--dark);
  opacity: 1;
  margin: auto;
}
.comment_body{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: fit-content;
  padding-left: 10px;

}
.comment_info{
  display: flex;
flex-direction: row;
}
.user_name{
  width: 30%;
  height: 20%;
  text-align: left;
  font: var(--medium-text) Raleway-Bold;
  letter-spacing: 0px;
  color: var(--red);
  opacity: 1;
margin: 0;
}
.comment_date{
  text-align: left;
  font: var(--small-text) Raleway-Regular;
  letter-spacing: 0px;
  color: var(--dark);
  opacity: 1;
  margin: 0;
}
.feature {
  display: flex;
flex-direction: row;
}
.feature-title{
  padding-left: 5%;
}
.icon {
  color: var(--dark);

}
.com-star {
  color: gold;
}
.com-stars {
  display: flex;
}
.no_comments {
  height: 5vh;
  margin-left: 5%;
  margin-top: 1%;

}
@media only screen and (max-width: 768px){
  .parallelogram, .photo{
    width: 100%;
  }
  .data-wrap{
    flex-direction: column;
    align-items: center;
  }
  .data-wrap > div{
    width: 100%;
    height: 100%;
  }
  agm-map{
    width: 100%;
    height: 100%;
  }
  .wrap{
    flex-direction: column;
  }
  .wcard{
    top: 6%;
    left: 64%;
    min-width: 150px;
  }
  .form{
    width: 100%;
  }
  .stars{
    left: 50%;
  }
}
