<div class="main">
  <div class="container">
    <div class="wrap">
      <div *ngIf="car.img_url" class="photo" [ngStyle]="{'background-image': ' url('+car.img_url+')'}"></div>
      <div *ngIf="!car.img_url" class="photo" [ngStyle]="{'background-image': 'url(../../assets/no_car_image2.jpg)'} "></div>
      <div class="form">
        <app-rent-form [inputCarId]="id" (newRentEvent)="closeParent($event)" [(ngModel)]="closeDialog"></app-rent-form>
      </div>
    </div>
    <div class="wcard" *ngIf="car.price">
      <div class="card-body">
        <span class="dolar">$</span>
        <span class="price">{{car.price}}</span>
        <span class="perday">per day</span>
      </div>
    </div>
    <div class="car-title">
      <span class="title">{{car.title}}</span>
      <span *ngIf="car.year" class="year">{{car.year}}</span>
    </div>
  </div>
  <div class="paral-wrap">
  <div class="parallelogram">
    <div class="stars" >
      <div *ngFor="let s of stars" class="star">
        <fa-icon class="icon" [icon]="['fas', 'star']"></fa-icon>
      </div>
    </div>

  </div>
  </div>
  <div class="data-wrap">
    <div class="car-data">
      <div *ngIf="(user$ | async)?.id == car.owner_id" class="btns">
          <button class="b-k" (click)="editCar(car)">
            <fa-icon class="icon" [icon]="['fas', 'pen']"></fa-icon>
          </button>
          <button class="b-l" (click)="removeCar(car.id)">
            <fa-icon class="icon" [icon]="['fas', 'trash']"></fa-icon>
          </button>
      </div>
      <div class="col1">
        <div class="col3">
          <div class="col7">
            <span *ngIf="car.engine">Engine:</span>
            <span *ngIf="car.fuel">Fuel:</span>
            <span *ngIf="car.gear">Gear:</span>
            <span *ngIf="car.fuel_cons">Fuel cons:</span>
            <span *ngIf="car.wd">WD:</span>
          </div>
          <div class="col8">
            <span *ngIf="car.engine">{{car.engine}}</span>
            <span *ngIf="car.fuel">{{car.fuel}}</span>
            <span *ngIf="car.gear">{{car.gear}}</span>
            <span *ngIf="car.fuel_cons">{{car.fuel_cons}}</span>
            <span *ngIf="car.wd">{{car.wd}}</span>
          </div>
          <div class="col9">
            <span  *ngIf="car.hp">HP:</span>
            <span  *ngIf="car.torque"> Torque: </span>
            <span  *ngIf="car.doors">Doors:</span>
            <span *ngIf="car.seats"> Seats:</span>
            <span *ngIf="car.class"> Class:</span>
          </div>
          <div class="col10">
            <span *ngIf="car.hp">{{car.hp}}</span>
            <span *ngIf="car.torque">{{car.torque}}</span>
            <span *ngIf="car.doors">{{car.doors}}</span>
            <span *ngIf="car.seats">{{car.seats}}</span>
            <span *ngIf="car.class">{{car.class}}</span>
          </div>
        </div>
        <div class="col4">
          <div class="col11" *ngIf="car.about_text">
            <span>About:</span>
          </div>
          <div class="col12">
            <span  *ngIf="car.about_text">{{car.about_text}}</span>
          </div>
        </div>
      </div>
      <div class="col2">
        <div class="col5">
          <div class="col13">Location:</div>
          <div class="location-list">
            <div class="location-item">
              <span class="location-item-title">Country:</span>
              <span *ngIf="car.location.country; else isr">{{car.location.country}}</span>
              <ng-template #isr>Israel</ng-template>
            </div>
            <div class="location-item">
              <span class="location-item-title">City:</span>
              <span *ngIf="car.location.city; else tlv">{{car.location.city}}</span>
              <ng-template #tlv>Tel Aviv</ng-template>
            </div>
            <div class="location-item">
              <span *ngIf="car.location.region" class="location-item-title">Region:</span>
              <span *ngIf="car.location.region">{{car.location.region}}</span>
            </div>
            <div class="location-item">
              <span *ngIf="car.location.street" class="location-item-title">Street:</span>
              <span *ngIf="car.location.street">{{car.location.street}}</span>
            </div>
            <div class="location-item">
              <span *ngIf="car.location.zip" class="location-item-title">ZIP:</span>
              <span *ngIf="car.location.zip">{{car.location.zip}}</span>
            </div>
          </div>
        </div>
        <div class="col6">
          <div class="col15">Features:</div>
          <div class="col16">
            <div class="feature">
              <div *ngIf="car.features.multimediaDisplay" >
                <fa-icon class="icon" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div *ngIf="!car.features.multimediaDisplay">
                <fa-icon class="icon" [icon]="['fas', 'times']"></fa-icon>
              </div>
              <span class="feature-title">Multimedia display</span>
            </div>
            <div class="feature">
              <div *ngIf="car.features.abs">
                <fa-icon class="icon" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div *ngIf="!car.features.abs">
                <fa-icon class="icon" [icon]="['fas', 'times']"></fa-icon>
              </div>
              <span class="feature-title">ABS</span>
            </div>
            <div class="feature">
              <div *ngIf="car.features.climatControl">
                <fa-icon class="icon" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div *ngIf="!car.features.climatControl">
                <fa-icon class="icon" [icon]="['fas', 'times']"></fa-icon>
              </div>
              <span class="feature-title">Climatcontrol</span>
            </div>
            <div class="feature">
              <div *ngIf="car.features.childAutoseat">
                <fa-icon class="icon" [icon]="['fas', 'check']"></fa-icon>
              </div>
              <div *ngIf="!car.features.childAutoseat">
                <fa-icon class="icon" [icon]="['fas', 'times']"></fa-icon>
              </div>
              <span class="feature-title">Child autoseat</span>
            </div>
          </div>
        </div>
      </div>
    </div>
      <agm-map [latitude]="car.location.lat"  [longitude]="car.location.lng" [zoom]="10">
        <agm-marker [latitude]="car.location.lat"  [longitude]="car.location.lng"></agm-marker>
      </agm-map>
  </div>
  <div class="comments-wrap">
    <div class="comments-container">
      <div class="comment" *ngFor="let comment of comments">
          <div *ngIf="comment && comment.url" class="user_photo" [ngStyle]="{'background-image': ' url('+comment.url+')'}"></div>
          <div class="comment_body">
            <div class="com-stars" *ngIf="comment && comment.stars">
              <div  class="com-star" *ngFor="let s of [].constructor(comment.stars)">
                <fa-icon [icon]="['fas', 'star']"></fa-icon>
              </div>
            </div>
            <span *ngIf="comment && comment.text">{{comment.text}}</span>
            <div class="comment_info">
              <p class="user_name" *ngIf="comment && comment.name">{{comment.name}}</p>
              <p class="comment_date" *ngIf="comment && comment.date">{{comment.date | date: 'd MMMM yyyy'}}</p>
            </div>
          </div>

      </div>
      <div *ngIf="comments && comments.length < 1" class="no_comments">
        <span> No comments yet.</span>
      </div>
    </div>

  </div>

</div>
