<div class="main">
  <div class="container">
    <div class="wrap">
      <div class="photo"></div>
      <div class="form"></div>
    </div>
    <div class="wcard">
      <div class="card-body">
        <span class="dolar">$</span>
        <span class="price">180</span>
        <span class="perday">per day</span>
      </div>
    </div>
    <div class="car-title">
      <span class="title">MERCEDES-BENZ G-CLASS </span>
      <span class="year">2019</span>
    </div>
  </div>
  <div class="paral-wrap">
  <div class="parallelogram"></div>
  </div>
  <div class="data-wrap">
    <div class="car-data">
      <div class="col1">
        <div class="col3">
          <div class="col7">
            <span>Engine:</span>
            <span>Fuel:</span>
            <span>Gear:</span>
            <span>Fuel cons:</span>
            <span>WD:</span>
          </div>
          <div class="col8">
            <span>3.0L V6 DOHC </span>
            <span>Gas </span>
            <span>Automatic </span>
            <span>12 l/100km</span>
            <span> RWD</span>
          </div>
          <div class="col9">
            <span>HP:</span>
            <span> Torque: </span>
            <span>Doors:</span>
            <span> Seats:</span>
            <span> Class:</span>
          </div>
          <div class="col10">
            <span>250 </span>
            <span>330</span>
            <span> 4</span>
            <span> 5 </span>
            <span>C</span>
          </div>
        </div>
        <div class="col4">
          <div class="col11">
            <span>About:</span>
          </div>
          <div class="col12">
            <span>BRAND NEW FULLY LOADED CUSTOM 2018 RANGE ROVER HSE with a 3.0 Liter
              Supercharged V6 Engine. The Range Rover HSE has a 380 horsepower V6, 8-Speed
              automatic transmission with gearshift paddles, all wheel drive, sliding panoramic roof,
              Bluetooth and USB, touch screen interface with navigation and interactive driver display.
              ADDITIONAL CUSTOM UPGRADES INCLUDE painted brake calibers yellow with decals, powder coated
              wheels gloss black, window tint 35%, and full blackout package.</span>
          </div>
        </div>
      </div>
      <div class="col2">
        <div class="col5">
          <div class="col13">Location:</div>
          <div class="col14">Ulitsa Generala Lizyukova, 4, Voronezh, Voronezh Oblast, Russia, 394053</div>
        </div>
        <div class="col6">
          <div class="col15">Features:</div>
          <div class="col16">
            <span>- 22 inch wheels</span>
            <span>- Power gestured roof</span>
            <span>- Heated front seats</span>
            <span>- Heated steering wheel</span>
            <span>- Ambient interior lighting</span>
            <span>- Meridian sound system</span>
            <span>- Interactive driver display</span>
            <span>- Lane departure warning</span>
            <span>- Emergency braking</span>
            <span>- Traffic sign recognition</span>
            <span>- Adaptive speed limiter</span>
          </div>
        </div>
      </div>
    </div>
    <div class="map"></div>
  </div>

</div>
