<div class="main">
  <div class="container">
    <div class="wrap">
      <div class="photo" [ngStyle]="{'background-image': ' url('+car.img_url+')'}"></div>
      <div class="form"></div>
    </div>
    <div class="wcard">
      <div class="card-body">
        <span class="dolar">$</span>
        <span class="price">{{car.price}}</span>
        <span class="perday">per day</span>
      </div>
    </div>
    <div class="car-title">
      <span class="title">{{car.title}}</span>
      <span class="year">{{car.year}}</span>
    </div>
  </div>
  <div class="paral-wrap">
  <div class="parallelogram"></div>
  </div>
  <div class="data-wrap">
    <div class="car-data">
      <div class="col1">
        <div class="col3">
          <div class="col7">
            <span>Engine:</span>
            <span>Fuel:</span>
            <span>Gear:</span>
            <span>Fuel cons:</span>
            <span>WD:</span>
          </div>
          <div class="col8">
            <span>{{car.engine}}</span>
            <span>{{car.fuel}}</span>
            <span>{{car.gear}}</span>
            <span>{{car.fuel_cons}}</span>
            <span>{{car.wd}}</span>
          </div>
          <div class="col9">
            <span>HP:</span>
            <span> Torque: </span>
            <span>Doors:</span>
            <span> Seats:</span>
            <span> Class:</span>
          </div>
          <div class="col10">
            <span>{{car.hp}}</span>
            <span>{{car.torque}}</span>
            <span>{{car.doors}}</span>
            <span>{{car.seats}}</span>
            <span>{{car.class}}</span>
          </div>
        </div>
        <div class="col4">
          <div class="col11">
            <span>About:</span>
          </div>
          <div class="col12">
            <span>{{car.about_text}}</span>
          </div>
        </div>
      </div>
      <div class="col2">
        <div class="col5">
          <div class="col13">Location:</div>
          <div class="col14">{{car.location}}</div>
        </div>
        <div class="col6">
          <div class="col15">Features:</div>
          <div class="col16">
            <span *ngFor="let f of features">- {{f}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="map"></div>
  </div>

</div>
