<footer>
  <p class="footer_context_left">
    Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake chocolate cake. Bonbon
    gummi bears jelly-o bonbon fruitcake tootsie
  </p>

  <img [src]="logo" class="footer_logo">

  <div class="footer_social_links_list">
    <fa-icon class="icon_facebook" [icon]="['fab', 'facebook-square']"></fa-icon>
    <fa-icon class="icon_telegram" [icon]="['fab', 'telegram']"></fa-icon>
    <fa-icon class="icon_vk" [icon]="['fab', 'vk']"></fa-icon>
    <fa-icon class="icon_instagram" [icon]="['fab', 'instagram']"></fa-icon>
    <fa-icon class="icon_slack" [icon]="['fab', 'slack-hash']"></fa-icon>
  </div>


  <div class="footer_nav_items">
    <a class="search" href="">Search</a>
    <a class="let_the_car_work" href="">Let the car work</a>
    <a class="terms_of_use" href="">Terms of use</a>
    <a class="sign_up" href="">Sign up</a>
    <a class="log_in" href=""><strong>Log in</strong></a>
  </div>

  <hr class="footer_line">

  <div class="parallelogram">
  </div>

  <div class="footer_top_cities">TOP CITIES</div>
  <ul class>
    <div class="top_cities1">
      <li>
        <a class="footer_city1">New-York </a>
      </li>
      <li>
        <a class="footer_city2">Tokyo</a>
      </li>
      <li>
        <a class="footer_city3">Paris</a>
      </li>
      <li>
        <a class="footer_city4">London </a>
      </li>
      <li>
        <a class="footer_city5">Los Angeles </a>
      </li>
    </div>
  </ul>
  <ul class>
    <div class="top_cities2">
      <li>
        <a class="footer_city6">Vienna</a>
      </li>
      <li>
        <a class="footer_city7">Moscow</a>
      </li>
      <li>
        <a class="footer_city8">Warsaw</a>
      </li>
      <li>
        <a class="footer_city9">Berlin</a>
      </li>
      <li>
        <a class="footer_city10">Seattle</a>
      </li>
    </div>
  </ul>

  <p class="footer_number">
    08-616-8800-55
  </p>

  <div class="footer_address">1600 Amphitheatre Pkwy Mountain View, CA 94043, USA</div>
  <p class="parall_context">The ultimate <br> car rental service</p>
</footer>

