<footer>
  <p class="footer_context_left">
    Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake chocolate cake. Bonbon
    gummi bears jelly-o bonbon fruitcake tootsie
  </p>

  <img [src]="logo" class="footer_logo" >

  <div class="footer_social_links_list">
    <fa-icon class="icon" [icon]="['fab', 'facebook-square']"></fa-icon>
    <fa-icon class="icon" [icon]="['fab', 'telegram']"></fa-icon>
    <fa-icon class="icon" [icon]="['fab', 'vk']"></fa-icon>
    <fa-icon class="icon" [icon]="['fab', 'instagram']"></fa-icon>
    <fa-icon class="icon" [icon]="['fab', 'slack-hash']"></fa-icon>
  </div>

  <div class="nav_wrap">
    <div class="footer_nav_items">
      <a class="nav_item" href="">Search</a>
      <a class="nav_item" href="">Let the car work</a>
      <a class="nav_item" href="">Terms of use</a>
      <a class="nav_item" href="" routerLink="signupwind" (click)="joinUs()">Sign up</a>
      <a class="nav_item" href=""  routerLink="loginwind" (click)="logIn()">Log in</a>
    </div>
    <hr class="footer_line">

  </div>



  <div class="parallelogram">
  </div>

  <div class="footer_top_cities">
    <span id="top_cities">TOP CITIES</span>
    <div class="cities_wrap">
      <ul class="top_cities">
              <li>
                <a class="footer_city">New-York </a>
              </li>
              <li>
                <a class="footer_city">Tokyo</a>
              </li>
              <li>
                <a class="footer_city">Paris</a>
              </li>
              <li>
                <a class="footer_city">London </a>
              </li>
              <li>
                <a class="footer_city">Los Angeles </a>
              </li>
      </ul>
      <ul class="top_cities">
              <li>
                <a class="footer_city">Vienna</a>
              </li>
              <li>
                <a class="footer_city">Moscow</a>
              </li>
              <li>
                <a class="footer_city">Warsaw</a>
              </li>
              <li>
                <a class="footer_city">Berlin</a>
              </li>
              <li>
                <a class="footer_city">Seattle</a>
              </li>
      </ul>
    </div>
  </div>


  <div class="data_wrap">
    <p class="footer_number">
      08-616-8800-55
    </p>
    <div class="footer_address">1600 Amphitheatre Pkwy Mountain View, CA 94043, USA</div>
  </div>

  <p class="parall_context">The ultimate <br> car rental service</p>
</footer>

