<div class="container">
  <form class="form-body">
    <span class="form-title">Let your car work!</span>
    <span class="form-text">Make your metal girl earn money when you on holiday or just want to save up money.</span>
    <span class="pls">First, let's quickly make your account!</span>
  </form>
  <div class="btn-wrap">
    <button class="btn" (click)="joinUs()">
      <span class="btn-text">Make my account</span>
    </button>
    <span class="or">or</span>
    <button class="btn" (click)="logIn()">
      <span class="btn-text">Log In</span>
    </button>
  </div>

</div>
