<div class="container">
  <label routerLink="homepage"  id="logo" ></label>
  <ul>
    <li routerLink="homepage" class="nav-link" routerLinkActive="active_tab">
      <label >Home</label>
    </li>
    <li routerLink="search" class="nav-link" routerLinkActive="active_tab">
      <label >Search</label>
    </li>
    <li routerLink="terms" class="nav-link" routerLinkActive="active_tab">
      <label >Terms of use</label>
    </li>
    <li routerLink="myaccount"  class="nav-link" routerLinkActive="active_tab">
    <label >My account</label>
  </li>
    <li routerLink="letthecarwork" *ngIf="!this.usersService.isLoggedIn()" class="nav-link" routerLinkActive="active_tab">
      <label >Let it work</label>
    </li>
    <li *ngIf="!this.usersService.isLoggedIn()" routerLink="signupwind" routerLinkActive="active_tab" (click)="joinUs()" class="nav-link">
      <label>Sign Up</label>
    </li>
    <li *ngIf="!this.usersService.isLoggedIn()" routerLink="loginwind" routerLinkActive="active_tab" (click)="logIn()" class="nav-link">
      <label>Log in</label>
    </li>
    <li *ngIf="this.usersService.isLoggedIn()" class="nav-link" >
      <label  (click)="logout()">logout</label>


  </ul>
  <button class="mobile_list" (click)="mobileMenu = !mobileMenu">MENU</button>
  <ul class="mobile_menu_list" *ngIf="mobileMenu">
    <li routerLink="search" (click)="mobileMenu = false">search</li>
    <li routerLink="terms" (click)="mobileMenu = false">terms of use</li>
    <li routerLink="myaccount" *ngIf="this.usersService.isLoggedIn()"  (click)="mobileMenu = false">my account</li>
    <li *ngIf="!this.usersService.isLoggedIn()"  (click)="logIn()">login</li>
    <li *ngIf="!this.usersService.isLoggedIn()" (click)="joinUs()">sign up</li>
    <li *ngIf="this.usersService.isLoggedIn()"  (click)="logout()">log out</li>
    <li (click)="mobileMenu = !mobileMenu">X close</li>
  </ul>
</div>
<router-outlet></router-outlet>
