<div class="container">
  <label routerLink="homepage"  id="logo" ></label>
  <ul>
    <li routerLink="homepage" class="nav-link" routerLinkActive="active_tab">
      <label >Home</label>
    </li>
    <li *ngIf="!this.usersService.isLoggedIn()" routerLink="signupwind" routerLinkActive="active_tab" (click)="joinUs()" class="nav-link">
      <label>Sign Up</label>
    </li>
    <li *ngIf="!this.usersService.isLoggedIn()" routerLink="loginwind" routerLinkActive="active_tab" (click)="logIn()" class="nav-link">
      <label>Log in</label>
    </li>
    <li *ngIf="this.usersService.isLoggedIn()" class="nav-link" >
      <label  (click)="logout()">logout</label>


  </ul>
</div>
<router-outlet></router-outlet>
