.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  align-content: center;
  height: 11vh;
  background:  var(--dark) 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 6px  var(--shadow);
  opacity: 1;
}
.nav-link{
  text-align: center;
  font: var(--small-text) Raleway-Bold;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  margin-right: 3vw;
  width: 7vw;
  height: 8vh;
  padding-top: 2vh;
}
label{
  text-align: left;
  font: var(--medium-text) Raleway-Bold;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}
ul{
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  list-style: none;
  justify-content: flex-end;
  max-width: 50%;

}
#logo{
  width: 18%;
  min-width: 200px;
  height: 49%;
  min-height: 50px;
  background: transparent url('../../assets/logo.svg') 0 0 no-repeat padding-box;
  opacity: 1;
  margin-top: 3vh;
}
.active_tab{
  background:  var(--red) 0% 0% no-repeat padding-box;
  z-index: 0;
  box-shadow: 0 3px 6px  var(--shadow);
}
::ng-deep.custom-dialog-container > mat-dialog-container {
  padding: 0!important;
}
