<div class="card" id="reg_card">
  <form class="card-body" #add_carForm="ngForm" (ngSubmit)="onSubmit(add_carForm)">
    <header class="card-title">
      <h1 id="reg_lable">Add new car</h1>
    </header>
    <div class="groups">
      <div class="group-img">
        <input type="file" (change)="onFileSelected($event)">
        <button (click)="onUpload()">Uploaded</button>
      </div>
      <div class="wrap">
        <div class="group-details">
          <span>Add car details:</span>
          <input  class="form-control reg-data"  placeholder="Title"  type="string" id="inp1"
                  #title="ngModel" name="title" required  [(ngModel)]="add_carForm.title">
          <div class="error" *ngIf="!title.valid && title.touched">
            Title is required.
          </div>
          <input  class="form-control reg-data" placeholder="Model"  type="string" id="inp2" #model="ngModel" name="model"  required [(ngModel)]="add_carForm.model">
          <div class="error" *ngIf="!model.valid && model.touched">
            Model is required.
          </div>
          <input  class="form-control reg-data" placeholder="Year"  type="number" id="inp3" #year="ngModel" name="year"
                  [(ngModel)]="add_carForm.year" required>
          <div class="error" *ngIf="!year.valid && year.touched">
            Year is required .
          </div>
          <input  class="form-control reg-data" placeholder="Engine"  type="string" #engine="ngModel" id="inp4" name="engine" [(ngModel)]="add_carForm.engine" required>
          <div class="error" *ngIf="!engine.valid && engine.touched">
            Engine is required .
          </div>
          <input  class="form-control reg-data" placeholder="Fuel"  type="string" #fuel="ngModel" id="inp5" name="guel" [(ngModel)]="add_carForm.fuel" required>
          <div class="error" *ngIf="!fuel.valid && fuel.touched">
            Fuel is required .
          </div>
          <input  class="form-control reg-data" placeholder="Fuel cons"  type="string" #fuelcons="ngModel" id="inp6" name="fuelcons" [(ngModel)]="add_carForm.fuel_cons" required>
          <div class="error" *ngIf="!fuelcons.valid && fuelcons.touched">
            Fuel cons is required .
          </div>
          <input  class="form-control reg-data" placeholder="WD"  type="string" #wd="ngModel" id="inp7" name="wd" [(ngModel)]="add_carForm.wd" required>
          <div class="error" *ngIf="!wd.valid && wd.touched">
            WD is required .
          </div>
          <input  class="form-control reg-data" placeholder="Horsepower"  type="string" #hp="ngModel" id="inp8" name="hp" [(ngModel)]="add_carForm.hp" required>
          <div class="error" *ngIf="!hp.valid && hp.touched">
            Horsepower is required .
          </div>
          <input  class="form-control reg-data" placeholder="Torque"  type="string" #torque="ngModel" id="inp9" name="torque" [(ngModel)]="add_carForm.torque" required>
          <div class="error" *ngIf="!torque.valid && torque.touched">
            Torque is required .
          </div>
          <input  class="form-control reg-data" placeholder="Doors"  type="number" #doors="ngModel" id="inp10" name="doors" [(ngModel)]="add_carForm.doors" required>
          <div class="error" *ngIf="!doors.valid && doors.touched">
            Number of doors is required .
          </div>
          <input  class="form-control reg-data" placeholder="Seats"  type="number" #seats="ngModel" id="inp11" name="seats" [(ngModel)]="add_carForm.seats" required>
          <div class="error" *ngIf="!seats.valid && seats.touched">
            Number of seats is required .
          </div>
          <input  class="form-control reg-data" placeholder="Class"  type="string" #class="ngModel" id="inp12" name="class" [(ngModel)]="add_carForm.class" required>
          <div class="error" *ngIf="!class.valid && class.touched">
            Class is required .
          </div>
          <input  class="form-control reg-data" placeholder="Gear"  type="string" #gear="ngModel" id="inp13" name="gear" [(ngModel)]="add_carForm.gear" required>
          <div class="error" *ngIf="!gear.valid && gear.touched">
            Gear is required .
          </div>
          <input  class="form-control reg-data" placeholder="Price"  type="number" #price="ngModel" id="inp14" name="price" [(ngModel)]="add_carForm.price" required>
          <div class="error" *ngIf="!price.valid && price.touched">
            Price is required .
          </div>
        </div>

        <div class="group-location">
          <span>Add car location:</span>
          <input  class="form-control reg-data"  placeholder="Country"  type="string" id="inp15"
                  #country="ngModel" name="country" required  [(ngModel)]="add_carForm.country">
          <div class="error" *ngIf="!country.valid && country.touched">
            Country is required.
          </div>
          <input  class="form-control reg-data" placeholder="City"  type="string" id="inp16" #city="ngModel" name="city"  required [(ngModel)]="add_carForm.city">
          <div class="error" *ngIf="!city.valid && city.touched">
            City is required.
          </div>
          <input  class="form-control reg-data" placeholder="Street"  type="street" id="inp17" #street="ngModel" name="street" [(ngModel)]="add_carForm.street" required>
          <div class="error" *ngIf="!street.valid && street.touched">
            Street is required.
          </div>
          <input  class="form-control reg-data" placeholder="Region"  type="region" #region="ngModel" id="inp18" name="region" [(ngModel)]="add_carForm.region">
          <div class="error" *ngIf="!region.valid && region.touched">
            Region is required.
          </div>
          <input  class="form-control reg-data" placeholder="ZIP"  type="zip" #zip="ngModel" id="inp19" name="zip" [(ngModel)]="add_carForm.zip" required minlength="6" maxlength="6">
          <div class="error" *ngIf="!zip.valid && zip.touched">
            ZIP is required (6 symbols).
          </div>
        </div>
        </div>
      <div class="wrap">
        <div class="group-features">
          <span>Features:</span>
          <div><input type="checkbox" id="check1" name="check1" value="Multimedia display">
            <label for="check1">Multimedia display</label></div>
          <div><input type="checkbox" id="check2" name="check2" value="ABS">
            <label for="check2">ABS</label></div>
          <div><input type="checkbox" id="check3" name="check3" value="Climatcontrol">
            <label for="check3">Climatcontrol</label></div>
          <div><input type="checkbox" id="check4" name="check4" value="Child autoseat">
            <label for="check4">Child autoseat</label></div>

        </div>
        <div class="group-about">
          <span>About:</span>
          <input class="text">
      </div>
        <div class="btn-wrap">
          <button id="button_add" type="submit" [disabled]="!add_carForm.form.valid">
            <span id="y">Add</span>
          </button>
        </div>
    </div>



    </div>
  </form>
  <div *ngIf="errorText !== ''" class="danger">{{errorText}}</div>

  <div class="trapezoid" id="trap"></div>

</div>
