#reg_card{
  flex-grow: 1;
  height: 426px;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px  var(--shadow);
  opacity: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
#reg_lable{
  top: 189px;
  left: 1365px;
  width: 130px;
  height: 25px;
  text-align: left;
  font: var(--big-text) Raleway-Black;
  letter-spacing: 0;
  color:  var(--red);
  opacity: 1;
  padding-left: 50px;
  margin-bottom: 0px;
}
#button_yalla{
  top: 629px;
  left: 1365px;
  width: 126px;
  height: 32px;
  background:  var(--red) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px  var(--shadow);
  opacity: 1;
  margin-left: 50px;
}
#button_y_div{
  padding-top: 44px;
}
.card-body{
  width: 360px;
  flex-grow: 1;
}

#type_data{
  padding-left: 50px;
  top: 221px;
  left: 1365px;
  width: 139px;
  height: 13px;
  text-align: left;
  font: var(--small-text) Raleway-Regular;
  letter-spacing: 0;
  color:  var(--dark);
  opacity: 1;
  margin-top: 0px;
  padding-top: 2.5px;
}
.reg-data{
  width: 249px;
  height: 10px;
  opacity: 1;
  margin-left: 50px;
  padding-left: 6px;
  padding-top: 13px;
  padding-bottom: 6px;

}
#inp1{
  top: 265px;
  margin-bottom: 8px;
}
#inp2{
  top: 327px;
  margin-bottom: 8px;
}
.trapezoid {
  border-bottom: 10px solid  var(--red);
  border-right: 15px solid transparent;
  opacity: 1;
  width: 67px;
}

#trap{
  width: 50px;
  height: 10px;
  border-bottom: 1.1vmin solid  var(--red);
  border-right: 17px solid transparent;
  opacity: 1;
  margin-bottom: 6px;
  margin-left: 5px;
}
#y{
  top: 641px;
  left: 1432px;
  width: 36px;
  height: 14px;
  text-align: center;
  font: var(--medium-text) Raleway-Bold;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  margin: auto;
}

input::placeholder{
  font-size: var(--big-text);
  color:  var(--dark);
}
input{
  font-size: var(--medium-text);
  color: black;
}
.error{
  color:  var(--red);
  font: var(--small-text) Raleway-Regular;
  padding-left: 50px;
}
.danger{
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid  var(--red);
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  font: var(--big-text) Raleway-Regular;
  font-weight: bold;
}
.exit{
  width: 23px;
  position: absolute;
  left: 93%;
  bottom: 94%;
}
