div{
  background:transparent url('../../assets/ilcarroMAIN.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  width: 100vw;
  background-position-x: right;
  height: 89vh;
  margin: auto;
}
