#reg_card{
  flex-grow: 1;
  height: 426px;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px var(--shadow);
  opacity: 1;
  display: flex;
  flex-direction: column;
}
#reg_lable{
  top: 189px;
  left: 1365px;
  width: 130px;
  height: 25px;
  text-align: left;
  font: var(--big-text) Raleway-Black;
  letter-spacing: 0;
  color: var(--red);
  opacity: 1;
  padding-left: 50px;
  margin-bottom: 0;
}
#button_yalla{
  top: 629px;
  left: 1365px;
  width: 126px;
  height: 32px;
  background: var(--red) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px var(--shadow);
  opacity: 1;
  margin-left: 50px;
}
#button_y_div{
  padding-top: 44px;
}
.card-body{
  width: 360px;
  flex-grow: 1;
}

#type_data{
  padding-left: 50px;
  top: 221px;
  left: 1365px;
  width: 139px;
  height: 13px;
  text-align: left;
  font: var(--small-text) Raleway-Regular;
  letter-spacing: 0;
  color: var(--dark);
  opacity: 1;
  margin-top: 0px;
  padding-top: 2.5px;
}
.reg-data{
  width: 249px;
  height: 10px;
  opacity: 1;
  margin-left: 50px;
  padding-left: 6px;
  padding-top: 13px;
  padding-bottom: 6px;

}
#inp1{
  top: 265px;
  margin-bottom: 8px;
}
#inp2{
  top: 327px;
  margin-bottom: 8px;
}
#inp3{
  top: 389px;
  margin-bottom: 8px;
}
#inp4{
  top: 451px;
}
#iagree{
  top: 548px;
  left: 1388px;
  width: 201px;
  height: 10px;
  text-align: left;
  font: var(--small-text) Raleway-Regular;
  letter-spacing: 0;
  color: var(--dark);
  opacity: 1;
  margin-left: 50px;
  padding-top: 34px;
}
.trapezoid {
  border-bottom: 10px solid var(--red);
  border-right: 15px solid transparent;
  opacity: 1;
  width: 67px;
}
#check{
  top: 549px;
  left: 1365px;
  width: 1.1vmin;
  height: 1.1vmin;
  text-align: left;
  letter-spacing: 0;
  color: var(--red);
  opacity: 1;
}
#agree_lable{
  top: 548px;
  left: 1390px;
  width: 181px;
  height: 10px;
  text-align: left;
  font: var(--medium-text) Raleway-Regular;
  letter-spacing: 0;
  color: var(--dark);
  opacity: 1;
  padding-left: 11px;
 }
#trap{
  width: 50px;
  height: 10px;
  border-bottom: 1.1vmin solid var(--red);
  border-right: 17px solid transparent;
  opacity: 1;
  margin-bottom: 6px;
  margin-left: 5px;
}
#y{
  top: 641px;
  left: 1432px;
  width: 36px;
  height: 14px;
  text-align: center;
  font: var(--medium-text) Raleway-Bold;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  margin: auto;
}
a{
  text-decoration: underline;
  text-decoration-color: var(--dark);
}

input::placeholder{
  font-size: var(--medium-text);
  color: var(--dark);
}
input{
  font-size: var(--medium-text);
  color: black;
}
.error{
  color: red;
  font: var(--small-text) Raleway-Regular;
  padding-left: 50px;
}
#err_check{
  padding-left: 32px;
  margin-top: 0px;
}
.danger{
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid var(--red);
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  font: 18px/24px Raleway-Regular;
  font-weight: bold;
}

@media only screen and (max-width: 800px){
  .card-body{
    display: flex;
    flex-direction: column;
    width: 80vmin;
    height: 100%;
  }
  .reg-data{
    width: 65%;
    margin: auto;
    padding: 5%;
  }
  input{
    margin: auto;
  }
  .exit{
    left: 90%;
  }
  #button_y_div{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #button_yalla{
    margin: 0;
  }
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 10%;
  }
  input.form-control{
    margin: 5%;
  }
  #check{
    width: 18px;
    height: 18px;
  }
  #reg_lable{
    padding-left: 0;
  }
  #iagree{
    margin: auto;
    padding-top: 0;
  }
  #type_data{
    padding-left: 0;
  }
  .cdk-overlay-pane{
    max-width: 100%;
  }
}
