#reg_card{
  flex-grow: 1;
  top: 80px;
  left: 1291px;
  width: 629px;
  height: 745px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000005F;
  opacity: 1;
}
#reg_lable{
  top: 189px;
  left: 1365px;
  width: 194px;
  height: 37px;
  text-align: left;
  font: 32px/43px Raleway-Black;
  letter-spacing: 0;
  color: #EA2340;
  opacity: 1;
  padding-top: 109px;
  padding-left: 74px;
  margin-bottom: 0px;
}
#button_yalla{
  top: 629px;
  left: 1365px;
  width: 188px;
  height: 48px;
  background: #EA2340 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000052;
  opacity: 1;
  margin-left: 74px;
}
#button_y_div{
  padding-top: 66px;
}
.card-body{
  width: 629px;
}

#type_data{
  padding-left: 74px;
  top: 221px;
  left: 1365px;
  width: 207px;
  height: 19px;
  text-align: left;
  font: 16px/10px Raleway-Regular;
  letter-spacing: 0;
  color: #06263998;
  opacity: 1;
  margin-top: 0px;
  padding-top: 4px;
}
.reg-data{
  width: 371px;
  height: 15px;
  opacity: 1;
  margin-left: 74px;
  padding-left: 6px;
  padding-top: 23px;
  padding-bottom: 9px;

}
#inp1{
  top: 265px;
  margin-bottom: 15px;
}
#inp2{
  top: 327px;
  margin-bottom: 15px;
}
#inp3{
  top: 389px;
  margin-bottom: 15px;
}
#inp4{
  top: 451px;
}
#iagree{
  top: 548px;
  left: 1388px;
  width: 300px;
  height: 15px;
  text-align: left;
  font: 13px/24px Raleway-Regular;
  letter-spacing: 0;
  color: #06263998;
  opacity: 1;
  margin-left: 74px;
  padding-top: 50px;
}
.trapezoid {
  border-bottom: 10px solid #EA2340;
  border-right: 15px solid transparent;
  opacity: 1;
  width: 67px;
}
@font-face {
  font-family: Raleway-Black;
  src: url('../../assets/fonts/Raleway-Black.ttf') format("opentype");
}
@font-face {
  font-family: Raleway-Regular;
  src: url('../../assets/fonts/Raleway-Regular.ttf') format("opentype");
}
@font-face {
  font-family: Raleway-Bold;
  src: url('../../assets/fonts/Raleway-Bold.ttf') format("opentype");
}
#agree_check{
  top: 549px;
  left: 1365px;
  width: 18px;
  height: 18px;
  text-align: left;
  font: Light 13px/41px Font Awesome 5 Pro;
  letter-spacing: 0;
  color: #EA2340;
  opacity: 1;
}
#agree_lable{
   top: 548px;
   left: 1390px;
   width: 271px;
   height: 15px;
   text-align: left;
   font: 18px/24px Raleway-Regular;
   letter-spacing: 0;
   color: #06263998;
   opacity: 1;
  padding-left: 11px;
 }
#trap{
  top: 721px;
  left: 16px;
  width: 50px;
  height: 10px;
  border-bottom: 10px solid #EA2340;
  border-right: 17px solid transparent;
  opacity: 1;
  position: absolute;
}
#y{
  top: 641px;
  left: 1432px;
  width: 54px;
  height: 21px;
  text-align: center;
  font: 18px/59px Raleway-Bold;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  margin: auto;
}
a{
  text-decoration: underline;
  text-decoration-color: #06263998;
}
.card-title{
  height: 190px;
}
input::placeholder{
  font-size: 18px;
  color: #06263998;
}
input{
  font-size: 24px;
  color: black;
}
