<div class="card" id="reg_card">
  <header class="card-title">
            <h1 id="reg_lable">Registration</h1>
            <h5 id="type_data">Type your data and hit Yalla!</h5>
  </header>
  <form class="card-body">
            <input  class="form-control reg-data" placeholder="Name" required type="string" id="inp1">
            <input  class="form-control reg-data" placeholder="Last name" required type="string" id="inp2">
            <input  class="form-control reg-data" placeholder="Email" required type="email" id="inp3">
            <input  class="form-control reg-data" placeholder="Password" required type="any" id="inp4">
  </form>
  <div class="form-group" id="iagree">
            <input type="checkbox" id="agree_check">
    <label id="agree_lable">I agree to the <a>terms of use</a> and <a>privacy policy</a>.</label>
  </div>
  <div id="button_y_div">
          <button id="button_yalla">
            <span id="y">Y'alla!</span>
          </button>
  </div>
  <div class="trapezoid" id="trap"></div>
</div>
