<div class="container">
  <button class="exit" type="submit" (click)="exit()">x</button>
  <span class="title">Are you ready to return this car?</span>
  <span class="mini-title">We are hopping you enjoyed this experience!</span>
  <div class="order-details">
    <div class="image" [ngStyle]="{'background-image': ' url('+order.carUrl+')'}"></div>
    <div class="auto_margin">
      <div class="car-name">{{order.carName}}</div>
      <div class="order-dates">
        <div>{{order.dateOn | date: 'dd-MMM-yyyy h:mm'}}</div>
        <div>{{order.dateOff | date: 'dd-MMM-yyyy h:mm'}}</div>
        </div>
    </div>

  </div>
  <div class="add-comment">
    <span *ngIf="order.carOwnerId !== order.renterId" class="comment-title">Please, leave some words about this car</span>
    <span *ngIf="order.carOwnerId === order.renterId" class="comment-title">Make my car free again!</span>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)" *ngIf="order.carOwnerId !== order.renterId">
      <textarea type="text" maxlength="100" name="text"  #text="ngModel" [(ngModel)]="commentForm.text"></textarea>
      <div class="stars-wrap">
        <div class="stars">
          <fa-icon *ngFor="let star of stars" class="icon" [icon]="['fas', 'star']" (click)="onStar(star)" [style.color]="newRating>=star ? 'gold' : 'gray'"></fa-icon>

        </div>

      </div>
      <div class="ihaveproblem">
        <div class="problem">
          <span class="problem-text">You have any problems with this car? We will take care of this.</span>
          <button>
            <span class="red_text" (click)="onSupport()">Support</span>
          </button>
        </div>
        <div class="divider">
          <mat-divider></mat-divider>
        </div>
      </div>

      <button class="return" type="submit">
        <span class="r">Return car</span>
      </button>
    </form>
    <button class="return" *ngIf="order.renterId === order.carOwnerId" (click)="returnMyCar(order)">
      <span class="r">Return my car</span>
    </button>


  </div>

</div>
