<div class="main_container">
  <div class="img">
    <div class="span_wrap">
      <span id="terms_big">Terms of use</span>
      <span id="terms_small">We are doing all for your comfort and safety.</span>
    </div>
  </div>
  <ol class="main_list">
    <ol>
      <span class="bold">1. General provisions:</span>
      <li>1.1. These Terms and Conditions (hereinafter – "Conditions") apply to all the contents in this booking engine. Please read these Conditions before using this website. The use of this website indicates your agreement with these Conditions.</li>
      <li>1.2. EconomyBookings.com may also modify these Conditions at any time and such a modification will take effect immediately upon posting the modified Terms and Conditions on this website. According to it, your further access or use of this website is deemed to be your acceptance of the modified Conditions.</li>
      <li>1.3. EconomyBookings.com does not own or operate any car hire companies.</li>
      <li>1.4. Terms between you and the rental car provider:</li>
          <ol>
            <li>1.4.1. Your car rental contract will be between you and the rental car provider. Terms and conditions of the rental agreement are available on this booking engine when you select the car type and enter other relevant information.</li>
            <li>1.4.2. When making a car hire reservation on this booking engine you are bound by and deemed to have accepted the terms and conditions of the relevant rental car provider.</li>
            <li>1.4.3. EconomyBookings.com is not a party to the contract between you andthe rental car provider and has no responsibility or liability (directly or indirectly) to any party in respect of the terms of your contract with the rental car provider or any problems arising with the hired car pursuant to that contract or any other issues between you and the rental car provide.</li>
            <li>1.4.4. EconomyBookings.com makes no warranty or representation in relation to any rental car provider or any car rented by any rental car provider. It is the rental car provider's own responsibility to provide you with a rental car rented on this booking engine.</li>
            <li>1.4.5. EconomyBookings.com is not responsible and will have no liability if the rental car provider's terms and conditions available on this booking engine have been or are changed by the rental car provider.</li>
          </ol>
    </ol>
    <ol>
      <span class="bold">2. Data protection</span>
      <li>2.1. EconomyBookings.com recognizes and appreciates the importance of responsible use of personal data collected on this booking engine. Therefore, EconomyBookings.com is careful with personal information, taking steps to keep it secure and ensure it is used only for our legitimate business purposes.</li>
      <li>2.2. We are required to send your information to the rental car provider you have booked a rental car services with so that the rental car provider knew who you are and when you are going to use car hire services.</li>
    </ol>
    <ol>
      <span class="bold">3. Reservation</span>
      <li>3.1. After a reservation is made, our operators will contact car hire provider to confirm your reservation request. When your reservation is confirmed, EconomyBookings.com will send you an email with the voucher (confirmed RESERVATION) within 24h-48h so that you had all the necessary information before your arrival. Please note that under certain circumstances, i.e. busy locations; it may take up to 3 days.</li>
          <ol>
            <li>3.1.1. Please have in mind that if you book a car less than 2 days before the start of your rental, in some cases voucher may be sent to you at the last moment, 10 minutes before pickup time at the latest. It is a must for you to print the voucher in advance and show it on the pickup location.</li>
          </ol>
      <li>3.2. We cannot guarantee a specific make or model of the car. The car on your voucher is the most common vehicle for the class you've rented. At the time of a pick-up, you will be provided with a car model on your voucher if it is available. In all other cases, you will receive an adequate substitute or a free upgrade. In rare cases if you'd have to downgrade, you will be compensated for this improvidence.</li>
      <li>3.3. EconomyBookings.com uses your e-mail address only to send you a voucher. We use your phone number only to contact you if there are any questions with your reservation.</li>
      <li>3.4. EconomyBookings.com recommends you to check the details of the reservation e.g. country, location and rental period thoroughly.</li>
      <li>3.5. You can amend your booking in „My Bookings” section at website at least 24 hours before your rental is due to start.</li>
      <li>3.6. As a condition of your use of this booking engine, you guarantee EconomyBookings.com that you will not use this booking engine for any purpose that is unlawful, prohibited or contrary to Conditions.</li>
      <li>3.7. In particular, by proceeding to access this booking engine, you agree:</li>
          <ol>
            <li>3.7.1. Not to use it to make any speculative or false reservations;</li>
            <li>3.7.2. Not to use it to research rental car providers or their pricing;</li>
            <li>3.7.3. Not to use the name EconomyBookings.com for commercial purposes without obtaining previously written permission from EconomyBookings.com.</li>
          </ol>
      <li>3.8. It's allowed to pick up a car at one location and to drop it off at another location.Additional one way fee may be taken in this case. Basically one way fee is not included in the rental price indicated during the reservation (i.e. one way fee is also not included in the rental price indicated on your voucher, please see more detailed information on one way policy and it cost in local terms and conditions of rental car provider).</li>
    </ol>
    <ol>
      <span class="bold">4. Cancellations, No Shows & Amendments</span>
      <li>4.1. Cancellation of Fully Prepaid Bookings and Deposit/ Partially Prepaid Bookings.</li>
          <ol>
            <li>4.1.1. If you cancel 48 hours or more prior to your pick up, you will be refunded minus the cancellation fee of 75.00 EUR*.</li>
            <li>4.1.2. If you cancel less than 48 hours before pick-up, you will be refunded minus the cancellation fee of 95.00 EUR*.</li>
            <li>4.1.3. If you cancel your booking less than 24 hours before pick up, you will be refunded minus the cancellation fee of 150.00 EUR*.</li>
            <li>4.1.4. If your prepayment is less than 150.00 EUR*, there won’t be any additional charge, but you won’t receive any refund. No refund will be applied for unused rental days.</li>
            <li>4.1.5. You cannot cancel your booking if your rental has already started.</li>
          </ol>
          <span>Please note: due to an increase in the number of cancellations caused by the outbreak of the Covid-19 virus and the restrictions imposed by state governments worldwide, refunds will be made within 90 working days from the moment lockdown measures for travel are lifted.
            You can cancel your booking in „My Bookings” section or by sending a cancellation email to reservations@bookinggroup.com
            For those who do not wish to cancel the booking, but are uncertain about their travel plans due to the mentioned restrictions, we offer the option to claim a Booking Voucher for the amount of your already paid rental price for any future booking during the next 24 months. You will be able to use the voucher as soon as you redeem it. To get your Booking Voucher, please go to „My Bookings” and click „Cancel”; contact us by phone or send us an email at reservations@bookinggroup.com with the following subject line: Booking Voucher Request - [Booking Number]. To view Booking Voucher Terms, click here.</span>
      <li>4.2. Non-refundable:</li>
          <ol>
            <span>The product is non-refundable in the following cases:</span>
            <li>4.2.1. wish to cancel but don’t tell us before your rental is due to start;</li>
            <li>4.2.2. fail to pick the car up at the arranged time and date;</li>
            <li>4.2.3. fail to provide the documentation that’s required to pick the car up;</li>
            <li>4.2.4. fail to provide a credit card with enough available funds and with the main driver's name printed on it
              In all of these cases, you’ll receive no refund of the money you’ve paid.
              The car rental company reserves the right to refuse the car to any customer who fails to arrive at the scheduled time and date with all necessary documentation and a credit card in the main driver’s name with enough available funds for the car’s deposit.</li>
          </ol>
      <li>4.3. Amendments</li>
          <ol>
            <li>You can amend your booking in „My Bookings” section at website at least 24 hours before your rental is due to start.
              Please note that any amendment such as amendment of pick-up or drop-off location, car group, rental period and driver’s personal details may affect rental price which may be different from what you paid initially.
              Please note: prices are based on the pick-up and drop-off times and dates that you arrange before your rental starts. If you pick the car up any later or bring it back any earlier, you will not receive a refund for unused hours or days.
              *Or the same amount in USD/GBP at the exchange rate on the cancellation date.</li>
          </ol>
      <li>4.4. Refusal of Service/Force Majeure</li>
          <ol>
            <li>
              EconomyBookings.com has the right to refuse service to any customer, and may cancel a booking with no refund or with partial refund, or delay a refund at any time for the following reasons: whenever necessary to comply with any law, regulation or government directive or request; or due to circumstances beyond EconomyBookings.com control including acts of God, abnormal weather, outbreaks, epidemics, strikes, civil unrest, embargoes, war, and other force majeure events.
            </li>
          </ol>
    </ol>
    <ol>
      <span class="bold">5. Payment</span>
      <li>5.1. General provisions. The payment model for your reservation depends on the location and/or rental car provider used. At all times you are responsible for payment of any additional services/ costs requested by you and you are responsible for any other service charges applied by said rental car provider.</li>
      <li>5.2. Payment options:</li>
          <ol>
            <li>5.2.1. You make an advance payment at the time of booking and the balance is paid to the rental car provider on arrival;</li>
            <li>5.2.2. EconomyBookings.com charges total price of reservation from your credit card at the time you make your reservation;</li>
          </ol>
      <li>5.3. Payment methods. You must use a credit card in driver's name. Major credit cards include: MasterCard and Visa. EconomyBookings.com can't guarantee customer cash payments to be accepted by rental car provider on a pick up.</li>
          <ol>
            <li>5.3.1. EconomyBookings.com processes and settles payments in EUR, USD andGBP currencies (it may be changed upon request).</li>
          </ol>
      <li>5.4. Pre-Authorization. Your credit card must be approved for pre-authorization up to the maximum deductible amount before your rental. For this purpose may be used such cards as MasterCard and Visa. Please note that car rental providers do not accept VisaElectron, Maestro and Debit cards for pre-authorization. Please ask your bank if a certain credit card can be used for a car rental service and setting a pre-authorization on it.</li>
      <li>5.5. The voucher supplied by EconomyBookings.com is your proof of reservation and payment. If the reservation is cancelled, the voucher is void. You must produce your voucher upon arrival at the rental counter. Failure to submit your voucher means you are forming anew contract between yourself and a car rental provider. It will charge you for a new reservation and you will not receive a refund from EconomyBookings.com. Please note, that EconomyBookings.com is not responsible for overcharges if the voucher was not presented during the pick-up.</li>
      <li>5.6. All payments must be made in the pick-up country's local currency. The price you are quoted does not include currency conversion fees levied from your credit card provider.</li>
      <li>5.7. In case you decide to extend the rental period, specified in EconomyBookings.com voucher, after the collection of your rental car, you must make payment to the car rental agency directly in accordance with the local rental rates.</li>
    </ol>
  <ol>
    <span class="bold">6. Price</span>
    <li>6.1. General provisions:</li>
        <ol>
          <li>6.1.1. EconomyBookings.com makes every effort to ensure that prices quoted at the time a reservation is made on this booking engine are accurate in all material aspects. Nonetheless EconomyBookings.com reserves the right to amend the price quoted at the time a reservation was made in case of a manifest or patent error in the price quoted. EconomyBookings.com will endeavor to notify the customer as soon as possible in case a price quoted at the time of booking is incorrect.</li>
          <li>6.1.2. In case of a price change quoted at the time of reservation the customer may choose to pay the amended price or alternatively the customer will be entitled to a refund of all sums paid.</li>
          <li>6.1.3. The foreign exchange rates used by EconomyBookings.com to display prices in the currency chosen by the customer are updated frequently. Foreign exchanges rates used by your credit card may be varied by the company. EconomyBookings.com cannot be held responsible for any discrepancy between the price displayed by EconomyBookings.com and the amount charged by your credit card company due to the rate of exchange used.</li>
        </ol>
    <li>6.2. In certain cases, but not always, the following may be included in price:</li>
        <ol>
          <li>6.2.1. Unlimited mileage (unless otherwise stated) e.g. extra payment per km.</li>
          <li>6.2.2. License and fees, road tax, VAT, airport charges and 24h breakdown assistance.</li>
          <li>6.2.3. Insurance. Collision Damage Waiver (CDW) and theft insurance with Excess. CDW is also known as Loss Damage Waiver (LDW). Please note that not all vehicles include insurance. Other rental car providers have different insurance system.</li>
        </ol>
    <li>6.3. What is not included in price:</li>
        <ol>
          <li>6.3.1. Additional Drivers. Each rental car provider has its own policy regardingadditional drivers.</li>
          <li>6.3.2. Additional Extras – child seat, GPS, roof rack etc. All additional extras are on request and payable locally to rental car provider when the car is collected. Please ensure you request all additional extras at the time of reservation. EconomyBookings.com cannot be held responsible for requested extras to be not available by rental car provider.</li>
        </ol>
  </ol>
  <ol>
    <span class="bold">7. Requirements for drivers</span>
    <li>7.1. Driver license. You must produce a valid driver's license for the country where the rental takes place. The driver's license must have been issued at least 12 months before the pick-up date. In addition to the normal driver's license, an international driving permit may also be required. Please note that the international driving permit is only valid, if supplemented by your normal driver's license.</li>
    <li>7.2. Driver's age. Usually drivers must be aged between 21 and 75 inclusive. Other rental carproviders have different age limits.</li>
    <li>7.3. Risk age. Young drivers are often less experienced and therefore could be more likely involved in an insurance claim. For this reason, if you are a young driver, rental vehicle provider will ask you to pay underage driver fee.</li>
  </ol>
  <ol>
    <span class="bold">8. Pick up and drop off</span>
    <li>8.1. Flight Information. For airport pick-up it is essential that EconomyBookings.com receives the correct flight number and arrival time. You can do this either online or by phone. If this information is not available at the time of reservation, please ensure that you inform us at least 7 days prior to your departure, via email or by phone. EconomyBookings.com takes no responsibility for a failed rentaldue to late or improper supply of this information. Failure to supply this information also alleviates the responsibility of EconomyBookings.com</li>
    <li>8.2. You will be required to show on a pick-up the valid driver's license from country of origin, valid passport and valid credit card with the main driver's name printed on it (whose name is specified in the voucher) to pay for the rental and block a security deposit. Please note that you can pay for the rental on EconomyBookings.com with someone else’s credit card but you will necessary need to provide credit card with the main driver's name printed on it on a pick-up.</li>
    <li>8.3. EconomyBookings.com does not make a refund of sum paid and does not take responsibility if the car rental company refuses to provide the car to a customer in any of the following circumstances:</li>
        <ol>
          <li>8.3.1. no show;</li>
          <li>8.3.2. showing up late;</li>
          <li>8.3.3. unused days;</li>
          <li>8.3.4. additional services purchased locally;</li>
          <li>8.3.5. fail to provide all required documents, driver’s license, passport/ID card, credit card or there are not enough funds on a credit card to block a security deposit;</li>
          <li>8.3.6. if a customer was previously blacklisted by the car rental company;</li>
          <li>8.3.7. if a customer arrives at the car rental desk under the influence of alcohol or drugs</li>
        </ol>
    <li>8.4. EconomyBookings.com is not responsible for a car rental and does not accept claims/complaints if a customer picks the rental car up on his own initiative not from the car rental company specified in the car rental voucher.</li>
  </ol>
    <ol>
      <span class="bold">9. Other provisions</span>
      <li>9.1. Parking Tickets and Traffic Violations. You are responsible for the cost of any parking violation and other penalties incurred during your contract period. The rental vehicle provider will charge your credit card for any parking tickets and/or traffic violations. You are also subject to pay administrative fees.</li>
      <li>9.2. Breakdown Coverage. 24 hrs roadside assistance is included in the rates. Replacement vehicles may not be provided by the rental vehicle provider, depending on the reason of a breakdown.</li>
      <li>9.3. Complaints. All complaints and/or problems must be received in writing within 30 days from your drop-off date. EconomyBookings.com cannot process complaints made outside of this period. If your complaint concerns the rental car provider, EconomyBookings.com will inform you about your options and give you advice on a course of actions.</li>
      <li>9.4. All disputes and complaints shall be resolved in accordance with the legislation of the Republic of Latvia.</li>
      <li>9.5. Fuel policy may vary in different countries. The main rule is that cars have a full tank of fuel upon rental and must be returned with the same status (unless otherwise stated in local terms of a rental car provider). If you return the car part full, you will be charged for missing fuel at the end of the rental at the price determined by the car rental company.</li>
    </ol>
    <ol>
      <span class="bold">10. Full Coverage</span>
      <li>10.1. What is Full Coverage?</li>
          <ol>
            <li>10.1.1. Full Coverage covers bodywork, glass, tyres and other excess you have to pay, if your rental vehicle has been damaged.</li>
            <li>10.1.2. The supplier’s Collision Damage Waiver (CDW) may be included in your rental price. CDW limits your liability for the car to the excess – the amount of money the car rental company will charge you in the event that the rental car is damaged. Such items as windscreen, locks, tyres, undercarriage and key are not covered by the CDW. If you are held responsible to pay the excess, you pay it to the rental company.</li>
            <li>10.1.3. If Full Coverage has been purchased along with the rental, it will cover all unexpected losses related to local car rental agreement.</li>
          </ol>
      <li>10.2. What is covered?</li>
      <ol>
        <li>10.2.1. Damage excess amount you pay if your rental vehicle is involved in an incident.</li>
        <li>10.2.2. Excess amount for car theft.</li>
        <li>10.2.3. Charges for damage to the rental vehicle mechanical components that are not covered by your car rental agreement including bodywork, roof, undercarriage, windscreen, windows, mirrors, locks, wheels tires, hubcaps, engine, clutch, battery.</li>
        <li>10.2.4. Towing costs relating to damage.</li>
        <li>10.2.5. Costs incurred for replacement of a lost or stolen key for a rental vehicle.</li>
        <li>10.2.6. Processing fee (including admin fees charged by rental companies).</li>
      </ol>
      <li>10.3. What is not covered?</li>
      <ol>
        <li>10.3.1. Any incident or damage caused by negligent acts such as drunk driving, misfuelling, driving off-road, breaking local laws or the rules of the road, and other situations when you weren’t sticking to the terms of car rental agreement.</li>
        <li>10.3.2. Car damage caused by natural disasters, acts of war and terror attacks.</li>
      </ol>
      <li>10.4. Full Coverage Cancellation</li>
      <ol>
        <span>Please note that you can cancel your Full Coverage policy at least 24 hours prior to the scheduled pick-up time.</span>
        <li>10.4.1.1. Cancellation can be made in “My bookings” section.</li>
        <li>10.4.1.2. There is no refund for the Full Coverage policy cancellation made less than 24 hours prior to the scheduled pick up time.</li>
        <span>*We may cancel your policy due to the non-payment, if you used threatening or abusive behavior or language or we have reasonable suspicion of fraud.
          *Please note that if you have purchased Full Coverage you will still need to leave a deposit at the time of pick-up. The car rental company will block a deposit on your credit card as a guarantee on the rental car.</span>
      </ol>
    </ol>
    <ol>
      <span class="bold">11. Cancel Protection</span>
      <li>11.1. Cancel Protection waives all cancellation fees and allows you to cancel your booking at no extra charge.</li>
      <li>11.2. The current cancellation fees are as follows:</li>
          <ol>
            <li>11.2.1. If you cancel 48 hours or more prior to your pick up, you will be refunded minus the cancellation fee of 75.00 EUR*.</li>
            <li>11.2.2. If you cancel less than 48 hours before pick-up, you will be refunded minus the cancellation fee of 95.00 EUR*.</li>
            <li>11.2.3. If you cancel your booking less than 24 hours before pick up, you will be refunded minus the cancellation fee of 150.00 EUR*.</li>
            <li>11.2.4. If your prepayment is less than 150.00 EUR*, there won’t be any additional charge, but you won’t receive any refund. No refund will be applied for unused rental days.</li>
            <li>11.2.5. You cannot cancel your booking if your rental has already started.</li>
          </ol>
      <li>11.3. The validity period of Cancel Protection begins on the date of its purchase and ends at the moment of pick-up.</li>
      <li>11.4. The price of Cancel Protection is non-refundable.</li>
      <li>11.5. Please note that you can cancel your Cancel Protection option within 24 hours from the moment you add it to your reservation.</li>
    </ol>
    <ol>
      <span class="bold">12. Discounts and special offers</span>
      <li>Discounts and special offers do not sum up being valid only for new reservations.
        All rates are valid for the time of newsletter sending being shown based on rates for a 7-day rental. Discounts are based on most favorable available offers.
      </li>
    </ol>

  </ol>
</div>
