.main_container {
  opacity: 1;
  background-size: cover;
  width: 100%;
  margin: auto;
  background-position-x: center;

}
.main_list {
  width: 80%;
  margin: auto;
  font: var(--small-text) Raleway-Regular;
  color: black;
  padding-top: 2%;
  padding-bottom: 5%;

  opacity: 1;
}
ol, ul {
  list-style-type: none;

}
.bold {
  font: var(--small-text) Raleway-Bold;
  padding-left: 3%;
}
.img {
  background:transparent url('../../assets/ilcarroMAIN.png') 0% 0% no-repeat padding-box;
  height: 10vh;
  padding-top: 10%;
  opacity: 0.5;
  background-size: cover;
  background-position: bottom center;
}
.span_wrap {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  position: relative;
  left: 5%;
  top: -86%;
  justify-content: space-between;
}
#terms_big {
  display: flex;
  font: var(--large-text) Raleway-Bold;

}
#terms_small {
  display: flex;
  font: var(--medium-text) Raleway-Bold;

}
