<div class="flex_column_relative">
  <div class="flex-container" id="div3">
    <div id="wrap2">
      <div id="div3_1">
        <p id="three">3</p>
      </div>
      <div id="div3_2">
        <p id="some_text_3">MOST POPULAR CHOICES IN YOUR AREA</p>
      </div>
    </div>
    <div id="div3_3">
      <p id="some_text_4">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.</p>
    </div>
  </div>
  <div class="flex_column_relative">
    <div id="div4">
      <div id="div5">
      </div>
    </div>
    <div id="div6_wrapper">

      <div class="flex-container" id="div6">
        <div id="zaz" ></div>
        <div id="gaz"></div>
        <div id="azlk"></div>
      </div>
    </div>

    <div class="flex-container" id="car_titles">
      <div class="whitecard" id="whitecard1">
        <p>REDDEVIL</p>
        <div class="card-body">
          <span class="dolar">$</span>
          <span class="price">230</span>
          <span class="perday">per day</span>
        </div>
      </div>
      <div class="whitecard" id="whitecard2">
        <p>BLACKSTAR</p>
        <div class="card-body">
          <span class="dolar">$</span>
          <span class="price">300</span>
          <span class="perday">per day</span>
        </div>
      </div>
      <div class="whitecard" id="whitecard3">
        <p>PneumoDaddy</p>
        <div class="card-body">
          <span class="dolar">$</span>
          <span class="price">180</span>
          <span class="perday">per day</span>
        </div>
      </div>
    </div>
  </div>

</div>


