<div class="flex_column_relative">
  <div class="flex-container" id="div3">
    <div id="wrap2">
      <div id="div3_1">
        <p id="three">3</p>
      </div>
      <div id="div3_2">
        <p id="some_text_3">MOST POPULAR CHOICES</p>
      </div>
    </div>
    <div id="div3_3">
      <p id="some_text_4">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.</p>
    </div>
  </div>
  <div class="flex_column_relative">
    <div id="div4">
      <div id="div5">
      </div>
    </div>
    <div id="div6_wrapper">

      <div class="flex-container" id="div6">
        <div  id="zaz"  [ngStyle]="{'background-image': ' url('+topCars[0].img_url+')'}" (click)="onTopCar(topCars[0].id)"></div>
        <div  id="gaz" [ngStyle]="{'background-image': ' url('+topCars[1].img_url+')'}" (click)="onTopCar(topCars[1].id)"></div>
        <div  id="azlk" [ngStyle]="{'background-image': ' url('+topCars[2].img_url+')'}" (click)="onTopCar(topCars[2].id)"></div>
      </div>
    </div>

    <div class="flex-container" id="car_titles">
      <div class="whitecard">
        <p>{{topCars[0].title}}  {{topCars[0].rating}}<fa-icon class='com-star' [icon]="['fas', 'star']"></fa-icon></p>
        <div class="card-body">
          <span class="dolar">$</span>
          <span class="price">{{topCars[0].price}}</span>
          <span class="perday">per day</span>
        </div>
      </div>
      <div class="whitecard">
        <p>{{topCars[1].title}}  {{topCars[0].rating}}<fa-icon class='com-star' [icon]="['fas', 'star']"></fa-icon></p>
        <div class="card-body">
          <span class="dolar">$</span>
          <span class="price">{{topCars[1].price}}</span>
          <span class="perday">per day</span>
        </div>
      </div>
      <div class="whitecard">
        <p>{{topCars[2].title}}  {{topCars[0].rating}}<fa-icon class='com-star' [icon]="['fas', 'star']"></fa-icon></p>
        <div class="card-body">
          <span class="dolar">$</span>
          <span class="price">{{topCars[2].price}}</span>
          <span class="perday">per day</span>
        </div>
      </div>
    </div>
  </div>

</div>


