.main {
  width: 100%;
  margin: auto;
  display: flex;
  height: 110vh;
  justify-content: space-between;
}
.param-wind {
  display: flex;
  position: relative;
  width: 25%;

}
.cars-wind {
  display: flex;
  position: relative;
  width: 70%;
  overflow-y: scroll;
  margin-top: 3%;
  margin-bottom: 3%;
}
.list-wrap {
  width: 75vw;;
  margin: auto;
}
.all-cars {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  flex-wrap: wrap;

}
.car-card {
  display: flex;
  flex-direction: column;
  width: 47%;
  height: 30vh;
  margin: 1.5%;
  box-shadow: 0px 3px 6px var(--shadow);
  transition: transform .2s;

}

.car-card:hover {
  transform: scale(1.1);
}
.img {
  height: 75%;
  opacity: 1;
  background-size: cover;
  background-image: url('../../assets/no_image.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.info {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  height: 25%;
  box-shadow: 0px 3px 6px var(--shadow);
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.info-row {
  height: 50%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.name {
  display: flex;
  font: var(--big-text) Bebas Neue;
  letter-spacing: 0px;
  color: var(--red);
}
.price-card {
  display: flex;
  position: relative;
  height: 7vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px var(--shadow);
  opacity: 1;
  top: -100%;
  left: 10%;
  align-items: center;
  justify-content: space-around;
}
.rating {
  display: flex;
}
.stars-wrap {
  display: flex;
}
.city {
  display: flex;
  font: var(--big-text) Bebas Neue;
  letter-spacing: 0px;
  color: var(--shadow);
}
.com-star {
  color: gold;
}
.dolar{
  left: 5%;
  text-align: center;
  font: var(--big-text) Raleway;
  letter-spacing: 0px;
  color: var(--red);
  opacity: 1;
  position: relative;
}
.price{
  left: 10%;
  text-align: center;
  font: var(--large-text) Bebas Neue;
  letter-spacing: 0px;
  color: var(--red);
  text-transform: capitalize;
  opacity: 1;
  position: relative;
}
.perday {

  flex-wrap: nowrap;
  margin: auto;
  font: var(--medium-text) Bebas Neue;
  letter-spacing: 0px;
  color: var(--dark);
  text-transform: capitalize;
  opacity: 1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: -webkit-box;
  display: flex;
  position: relative;
  text-align: center;
  padding-top: 10%;
  flex-shrink: 0;

}
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  background: #E5E4E2;
}
.tabinator {
  background: #fff;
  padding: 40px;
}
.tabinator h2 {
  text-align: center;
  margin-bottom: 20px;
}
.tabinator > input {
  display: none;
}
.tabinator label {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  color: var(--medium-gray);
  margin-bottom: -1px;
  margin-left: -1px;
}
.tabinator label:before {
  content:'';
  display:block;
  width:100%;
  background-color:#fff;
  position:absolute;
  bottom:-11px;
  left:0;
  z-index:10;
}
.tabinator label:hover {
  color: var(--medium-gray);
  cursor: pointer;
}
.tabinator > input:checked + label {
  position: relative;
  color: #000;
  background: #fff;
  border: 1px solid var(--light);
  border-bottom: 1px solid #fff;
  border-radius: 5px 5px 0 0;
}
.tabinator > input:checked + label:after {
  display: block;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  box-shadow: 0 0 15px var(--light);
}
#content1, #content2, #content3, #content4 {
  display: none;
  border-top: 1px solid var(--light);
  padding: 25px;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  box-shadow: 0 0 15px var(--light);
}

h1 {
  font: var(--large-text) Bebas Neue;
  letter-spacing: 0px;
  color: var(--red);
}
h5 {
  font: var(--medium-text) Bebas Neue;
  letter-spacing: 0px;
  color: var(--shadow);

}
#price {
  display: flex;
}
#rating {
  display: flex;
}
.check {
  display: flex
}

.search_button {
  height: 3vh;
  width: 5vw;
  background: var(--red);
  box-shadow: 0 0 15px var(--light);
  border: 0;
  margin-top: 3vh;
}
#srch_btn1, #srch_btn2, #srch_btn3 {
  color: white;
}
.btn-wrap {
  display: flex;
  width: 13vw;
  margin: auto;
  justify-content: space-between;
}
.price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-wrap {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}
.btn-clear {
  width: 5vw;
  height: 3vh;
  margin-top: 3vh;
}
#inp-city {
  display: flex;
}
#inp-city::placeholder{
  padding: 2%;
}
#cities_wrap {
  display: flex;
  margin-bottom: 3vh;
}
#map-wrap {
  display: block;
  height: 30vh;
}
agm-map {
  height: 30vh;
  width: 20vw;
  box-shadow: 0px 3px 6px var(--shadow);

}
#f1, #f2, #f3, #f4 {
  display: flex;

}

#c1, #c2, #c3 {
  display: flex;
}
.group-features {
  display: flex;
  flex-direction: column;
}
.f-wrap {
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.c-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#inpDis {
  display:flex;
  width: 5vw;
  height: 3vh;
  margin-left: 1%;
  margin-right: 1%;
}
#inpDis::placeholder{
  padding: 2%;
}
@media only screen and (max-width: 800px){
  .main{
    flex-direction: column;
  }
  h1{
    text-align: center;
    margin: 5% 5% 0;
  }
  h5{
    margin-bottom: 5%;
    text-align: center;
    font-size: var(--big-text);
  }
  .param-wind, .cars-wind{
    width: 100%;
    margin: auto;
  }
  .cars-wind{

  }
  .tabinator{
    padding: 0;
    margin: auto;
    width: 90%;
  }
  #content1, #content2, #content3{
    transition: 1s;
  }
  .btn-wrap{
    width: 50vmin;
  }
  .search_button, .btn-clear{
    width: 10vmax;
    height: 5vmax;
    transform: scale(1);
    transition: 1s;
  }
  .search_button:active, .btn-clear:active{
    transform: scale(1.3);
  }
  .sebm-google-map-container{
    display: flex;
    width: 100%;
  }
  #inpDis{
    width: 10vmax;
  }
  .list-wrap{
    width: 90%;
  }
  .car-card{
    width: 100%;
  }
}
