<!--<app-ilcarro-nav></app-ilcarro-nav>-->

<div id="megadiv">
  <div style="height: 80px; width: 1920px;background-color: #062639;align-content: center;"></div>
  <div class="flex-container" id="div1">
    <div id="main_img" ></div>
    <div class="flex-container" id="div1_1">
      <app-sign-up></app-sign-up>
<!--      <div class="card" id="reg_card">-->
<!--        <header class="card-title">-->
<!--          <h1 id="reg_lable">Registration</h1>-->
<!--          <h5 id="type_data">Type your data and hit Yalla!</h5>-->
<!--        </header>-->
<!--        <form class="card-body">-->
<!--          <input  class="form-control reg-data" placeholder="Name" required type="string" id="inp1">-->
<!--          <input  class="form-control reg-data" placeholder="Last name" required type="string" id="inp2">-->
<!--          <input  class="form-control reg-data" placeholder="email" required type="email" id="inp3">-->
<!--          <input  class="form-control reg-data" placeholder="password" required type="any" id="inp4">-->
<!--        </form>-->
<!--        <div class="form-group" id="iagree">-->
<!--          <input type="checkbox">-->
<!--          <label>I agree to the terms of use and privacy policy.</label>-->
<!--        </div>-->
<!--        <button id="button_yalla">Y'alla!</button>-->
<!--      </div>-->
      <div id="red_line_mini" class="trapezoid"></div>
    </div>

  </div>
  <div>
    <div class="flex-container" id="div2">
      <div style="flex-grow: 1;">
        <p id="never_mis">NEVER MISTAKEN FOR Anything else</p>
      </div>
      <div style="flex-grow: 2">
        <p id="some_text_1">
          Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
        </p>
      </div>
      <div id="div2.1">
        <p id="some_text_2">Affordable prices Guaranteed cars</p>
        <button id="button_join">Join now!</button>

      </div>
    </div>
    <div class="trapezoid" id="red_line_max"></div>

  </div>
  <div class="flex-container" id="div3">
    <div id="div3_1">
      <p id="three">3</p>
    </div>
    <div id="div3_2">
      <p id="some_text_3">MOST POPULAR CHOICES IN YOUr area</p>
    </div>
    <div id="div3_3">
      <p id="some_text_4">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.</p>
    </div>
  </div>
  <div id="div4"></div>
  <div id="div5"></div>
  <div class="flex-container" id="div6">
    <div id="zaz" ></div>
    <div id="gaz"></div>
    <div id="azlk"></div>
  </div>
</div>

<!--<app-feedback></app-feedback>-->
<!--<app-footer></app-footer>-->
