@font-face {
  font-family: Bebas Neue;
  src: url('../../assets/fonts/Bebas-Neue-Bold.ttf') format("opentype");
}
@font-face {
  font-family: Raleway-Black;
  src: url('../../assets/fonts/Raleway-Black.ttf') format("opentype");
}
@font-face {
  font-family: Raleway-Regular;
  src: url('../../assets/fonts/Raleway-Regular.ttf') format("opentype");
}
#megadiv{
  width: 1920px;
  margin: auto;
  align-content: center;
  height: 100%;
  border-right: 2px solid #0000005f;
  border-left: 2px solid #0000005f;

}
#main_img{
  background:transparent url('../../assets/ilcarroMAIN.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  width: 1920px;
  height: 745px;
  background-position: left -575px top -3px;
}
.flex-container{
  display: flex;
}
#div1{
  align-items: stretch;
  height: 744px;
}
#div1_1{
  flex-direction: column;
  max-height: 766px;
}

#div2{
  flex-direction: row;
  top: 825px;
  left: 0px;
  width: 1920px;
  height: 266px;
  background: #062639 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px
}
#never_mis{
  size: 54px;
  padding-top: 50px;
  font: 54px/54px "Bebas Neue" ;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: capitalize;
  opacity: 1;
  padding-left: 184px;
  width: 320px;
  height: 109px;
  border: red;
  border-radius: 1px;
  flex-grow: 1;
}
#some_text_1{
  size: 16px;
  top: 92px;
  width: 641px;
  height: 97px;
  text-align: left;
  font: 16px/24px Raleway-Regular;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  position: relative;
  padding-left: 57px;
}
#div2\.1{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  top: 908px;
  left: 1365px;
  width: 272px;
  text-align: left;
  font: 32px/32px Raleway-Black;
  letter-spacing: 0;
  color: #EA2340;
  opacity: 1;

}
#some_text_2{
  size: 32px;
  width: 272px;
  height: 69px;
  text-align: left;
  font: 32px/32px Raleway-Black;
  letter-spacing: 0;
  color: #EA2340;
  opacity: 1;
  top: 59px;
  position: relative;
  padding-left: 163px;

}
#button_join{
  top: 30px;
  left: 163px;
  width: 146px;
  height: 48px;
  background: #EA2340 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000052;
  opacity: 1;
  position: relative;
  font: 18px/59px Raleway-Bold;
  color: white;
  border: none;
  line-height: 48px;
}

#red_line_max{
  border-bottom: 24px solid #EA2340;
  border-right: 32px solid transparent;
  opacity: 1;
  width: 1698px;
  top: -250px;
  position: relative;
}
#never_wrap{
  width: 504px;
}
#wrap{
  height: 266px;
}
