#megadiv{
  width: 100%;
  margin: auto;
  align-content: center;

}
#main_img{
  background:transparent url('../../assets/ilcarroMAIN.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  background-size: cover;
  width: 100%;
  background-position-x: right;
}
.flex-container{
  display: flex;
  justify-content: space-between;
}
#div1{
  align-items: stretch;
  height: 68%;
  overflow: hidden;
}
#div1_1{
  justify-content: center;
  align-items: center;
  display: flex;
}

#div2{
  display: flex;
  flex-direction: row;
  top: 825px;
  left: 0px;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}
#never_mis{
  size: 36px;
  padding-top: 36px;
  font: var(--large-text) "Bebas Neue" ;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: capitalize;
  opacity: 1;
  width: 215px;
  height: 73px;
  border:  var(--red);
  border-radius: 1px;
  flex-grow: 1;
  margin-left: 20%;
}
#some_text_1{
  size: 11px;
  top: 62px;
  width: 343px;
  height: 65px;
  text-align: left;
  font: var(--small-text) Raleway-Regular;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  position: relative;
  margin-top: 4px;
}
#div2\.1{
  display: flex;
  flex-direction: column;
  top: 608px;
  text-align: left;
  font: var(--big-text) Raleway-Black;
  letter-spacing: 0;
  color:  var(--red);
  opacity: 1;
  width: fit-content;

}
#some_text_2{
  size: 21px;
  width: 182px;
  height: 69px;
  text-align: left;
  font: var(--big-text) Raleway-Black;
  letter-spacing: 0;
  color:  var(--red);
  opacity: 1;
  top: 40px;
  position: relative;
  padding-left: 90px;

}
#button_join{
  top: 20px;
  left: 109px;
  width: 98px;
  height: 32px;
  background:  var(--red) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px  var(--shadow);
  opacity: 1;
  position: relative;
  font: var(--medium-text) Raleway-Bold;
  color: white;
  border: none;
  line-height: 32px;
}

#red_line_max{
  border-bottom: 16px solid  var(--red);
  border-right: 21px solid transparent;
  opacity: 1;
  width: 88%;
  top: -167px;
  position: relative;
}
#never_wrap{
  width: 338px;
  display: flex;
}
#wrap{
  height: 178px;
  top: 825px;
  left: 0px;
  background:  var(--dark) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px;
}



::ng-deep.custom-dialog-container > mat-dialog-container {
  padding: 0!important;
}

