<div id="megadiv">
  <div class="flex-container" id="div1">
    <div id="main_img" ></div>
    <div class="flex-container" id="div1_1">
      <app-sign-up></app-sign-up>
    </div>

  </div>
  <div class="mobile-flex-container">
    <app-let-the-car-work></app-let-the-car-work>
  </div>
  <div id="wrap">

      <div class="flex-container" id="div2">
        <div id="never_wrap">
          <p id="never_mis">NEVER MISTAKEN FOR ANYTHING ELSE</p>
        </div>
        <div id="never_text">
          <p id="some_text_1">
            Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
          </p>
        </div>
        <div id="div2.1">
          <p id="some_text_2">Affordable prices Guaranteed cars</p>

          <button id="button_join" (click)="joinUs()">Join now!</button>
        </div>
    </div>


    </div>
    <div class="trapezoid" id="red_line_max"></div>


  <app-popular-cars></app-popular-cars>
  <app-comments></app-comments>

</div>

